/*Definições genéricas*/
body{
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}
body,form,.column-indicative,.turn-current,.player-current-left,.message-error,.player-top-right,.player-lower-right
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------------*/

/*Definições do conteiner principal*/
.main{
    display: grid;
    grid-template-columns: 25vw 45vw 25vw;
    grid-template-rows: 92vh;
    column-gap: 0.8%;
}
*{
    user-select: none;
}
/*-----------------------------------------------------*/


/*Definições do tabuleiro*/
.board{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-column: 2/3;
    border-right: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    font-size: 1.25vw;
}
.column-indicative{
    background-color: rgb(0, 77, 77);
    border-top: 0.2vw solid black;
    border-left: 0.2vw solid black;
}
.line{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.column{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    border-top: 0.2vw solid black;
    border-left: 0.2vw solid black;
    cursor: pointer;
}
.column-black{
    background-color: rgb(102, 51, 0);
}
.column-white{
    background-color: rgb(230, 204, 179);
}
.piece{
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 50%;
    cursor: pointer;
}
.stone-black{
    background-image: linear-gradient(rgb(38, 38, 38),rgb(0, 0, 0)) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.stone-white{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(153, 153, 153));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/*-----------------------------------------------------*/


/*Definições do painel esquerdo*/
.panel-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/2;
}
.control{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(0, 77, 77);
    border: 0.2vw solid black;
}
form{
    flex-direction: column;
    height: 100%;
}
input{
    width: 0;
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    visibility: hidden;
}
button{
    width: 50%;
    height: 5vh;
    margin: 5% 0 0 0;
    padding: 0;
    font-size: 1vw;
    cursor: pointer;
}

.information{
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(0, 77, 77);
    border: 0.2vw black solid;
    border-top: 0;
}
.turn-current,.player-current-left{
    width: 70%;
    height: 15%;
    font-size: 1.25vw;
    margin: 10% auto 0 auto;
}
.turn-current{
    background-color: rgb(3, 3, 70);
    box-shadow: 0 0 0.25vw 0.25vw rgb(0, 0, 255);
}
.player-current-left{
    background-color: rgb(2, 56, 2);
    box-shadow: 0 0 0.25vw 0.25vw rgb(0, 255, 0);
}
.message-error{
    width: 60%;
    height: 40%;
    margin: 10% auto 0 auto;
    font-size: 1.25vw;
    text-align: center;
    padding: 5%;
    background-color: #330000;
    box-shadow: 0 0 0.25vw 0.25vw #ff0000;
}
/*-----------------------------------------------------*/


/*Definições do painel direito*/
.panel-right{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 3/4;
}
.player-top-right,.player-lower-right{
    flex-direction: column;
    border: 0.2vw solid black;
    background-color: rgb(128, 128, 128);
    font-size: 1.25vw;
}
.player-top-right{
    grid-column:1/2;
    grid-row: 1/2;
}
.player-lower-right{
    grid-column: 1/2;
    grid-row: 3/4;
}
.player-top-right > span,.player-lower-right > span{
    padding: 0.25vw;
}
.player-top-right > span:last-child,.player-lower-right > span:last-child{
    font-weight: 1000;
    font-size: 1.563vw;
}
.player-current{
    box-shadow: 0 0 0.391vw 0.391vw rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}
/*-----------------------------------------------------*/