/*Definições genéricas*/
body {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

body, form, .coluna-indicativa, .turno, .jogador-atual-esquerdo, .alerta, .jogador-superior-direito, .jogador-inferior-direito {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------------*/

/*Definições do conteiner principal*/
.principal {
    display: grid;
    grid-template-columns: 25vw 45vw 25vw;
    grid-template-rows: 92vh;
    column-gap: 0.8%;
}

* {
    user-select: none;
}

/*-----------------------------------------------------*/


/*Definições do tabuleiro*/
.tabuleiro {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-column: 2/3;
    border-right: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    font-size: 1.25vw;
}

.coluna-indicativa {
    background-color: rgb(0, 77, 77);
    border-top: 0.2vw solid black;
    border-left: 0.2vw solid black;
}

.linha {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.coluna {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    border-top: 0.2vw solid black;
    border-left: 0.2vw solid black;
    cursor: pointer;
}

.coluna-preta {
    background-color: rgb(102, 51, 0);
    position: relative;
}

.coluna-branca {
    background-color: rgb(230, 204, 179);
}

.peca {
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.peca-preta {
    background-image: linear-gradient(rgb(38, 38, 38), rgb(0, 0, 0));
}

.peca-branca {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(153, 153, 153));

}

.dama {
    background-image: url(/assets/img/coroa.png);
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/*-----------------------------------------------------*/


/*Definições do painel esquerdo*/
.painel-esquerdo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/2;
}

.controle {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(0, 77, 77);
    border: 0.2vw solid black;
}

form {
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}

input {
    width: 0;
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    visibility: hidden;
}

button {
    width: 50%;
    height: 5vh;
    margin: 5% 0 0 0;
    padding: 0;
    font-size: 1vw;
    cursor: pointer;
}

.informacoes {
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(0, 77, 77);
    border: 0.2vw black solid;
    border-top: 0;
}

.turno, .jogador-atual-esquerdo {
    width: 70%;
    height: 15%;
    font-size: 1.25vw;
    margin: 10% auto 0 auto;
}

.turno {
    background-color: rgb(3, 3, 70);
    box-shadow: 0 0 0.25vw 0.25vw rgb(0, 0, 255);
}

.jogador-atual-esquerdo {
    background-color: rgb(2, 56, 2);
    box-shadow: 0 0 0.25vw 0.25vw rgb(0, 255, 0);
}

.alerta {
    width: 60%;
    height: 40%;
    margin: 10% auto 0 auto;
    font-size: 1.25vw;
    text-align: center;
    padding: 5%;
    background-color: #330000;
    box-shadow: 0 0 0.25vw 0.25vw #ff0000;
}

/*-----------------------------------------------------*/


/*Definições do painel direito*/
.painel-direito {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 3/4;
}

.jogador-superior-direito, .jogador-inferior-direito {
    flex-direction: column;
    border: 0.2vw solid black;
    background-color: rgb(128, 128, 128);
    font-size: 1.25vw;
}

.jogador-superior-direito {
    grid-column: 1/2;
    grid-row: 1/2;
}

.jogador-inferior-direito {
    grid-column: 1/2;
    grid-row: 3/4;
}

.jogador-superior-direito>span, .jogador-inferior-direito>span {
    padding: 0.25vw;
}

.jogador-superior-direito>span:last-child, .jogador-inferior-direito>span:last-child {
    font-weight: 1000;
    font-size: 1.563vw;
}

.jogadorAtual {
    box-shadow: 0 0 0.391vw 0.391vw rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

/*-----------------------------------------------------*/